res/DAHAI-GEN-0-THR/G.fst
res/DAHAI-GEN-0-THR/HCLG.fst
res/DAHAI-GEN-0-THR/L.fst
res/DAHAI-GEN-0-THR/lang/G.fst
res/DAHAI-GEN-0-THR/lang/L_disambig.fst
res/DAHAI-GEN-0-THR/lang/L.fst
res/DAHAI-GEN-0-THR/lang/tmp/CLG_2_1.fst
res/DAHAI-GEN-0-THR/lang/tmp/LG.fst
